
body{
    --wrapper-mb-width: 100%;
    @media only screen and (min-width: 768px){
        --wrapper-mb-width: 400px;
    }
    @media only screen and (min-width: 992px){
        --wrapper-mb-width: 550px;
    }
}
.wrapper--pc{
    display: none;
    @media only screen and (min-width: 768px){
        display: block;
        width: calc(100% - var(--wrapper-mb-width));
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
    }

}

.wrapper--mb{
    position: relative;
    z-index: 1;
    border-top: 5px solid #5FC4E6;
    border-left: 5px solid #5FC4E6;
    border-right: 5px solid #BEE274;
    border-bottom: 5px solid #BEE274;
    overflow: hidden;
    width: var(--wrapper-mb-width);
    margin-left: calc(100% - var(--wrapper-mb-width));
}
.pc__slider{
    &:not(.flickity-enabled) .slider__item + .slider__item{display:none}
    .slider__item{
      position:relative;width:100%;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }
        &:after {
            content: "";
            width: 100px;
            height: 0;
            background: var(--border-bg);
            position: absolute;
            top: auto;
            bottom: 0;
            left: calc(50% - 50px);
            z-index: 4;
            -webkit-transition: height 750ms cubic-bezier(0,.9,.1,1);
            transition: height 750ms cubic-bezier(0,.9,.1,1);
        }
        &.is-selected:after {
            content: "";
            top: 0;
            bottom: auto;
            height: 100%;
            -webkit-transition: height 750ms cubic-bezier(0,.9,.1,1);
            transition: height 750ms cubic-bezier(0,.9,.1,1);
        }
      &--thumb{
        width: 100%;
      }
      &--meta{
        position: absolute;
        bottom: 18%;
        left: 0;
        width: 100%;
        padding: 0 15px;
        z-index: 5;
        text-align: center;
        // height: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        
      }
      &--sub{
        font-family: 'P22SweepyPro';
        font-size: 30px;
        line-height: normal;
        color: #fff;
        margin-bottom: 0;
        padding-left: 8px;
      }
      &--title{
          font-size: 36px;
          letter-spacing: 4px;
          color: #ffffff;
      }
    }
    .dnfix__thumb{
        padding-top: 0;
        height: 100vh;
        display:block;
    }

    

    @media only screen and (max-width: 991px){
        .slider__item--title {
            font-size: 26px;
        }
    }
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}
@keyframes stuckMoveUp{
    0%{transform:translateY(100%)}
    100%{transform:translateY(0)}
}
@keyframes stuckFadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
.header{
    padding-top: 22px;
    &__nav{
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        background-color: #5FC4E6;
        &.is-sticky{
            position: fixed;
            max-width: 100%;
            left: auto;
            right: 5px;
            animation:stuckMoveDown .6s;
        }
        &>ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;
            font-size: 15px;
            line-height: 1.1;
            min-height: 50px;
            width: calc(100% - 44px);
            flex: 0 0 auto;
            li{
                position: relative;
                flex-grow: 1;
                text-align: center;
                padding: 5px 12px 0;
                &:not(:last-child)::before{
                    content: "";
                    width: 1px;
                    height: 16px;
                    background-color: #fff;
                    position: absolute;
                    top: 4px;
                    right: 0;
                }
            }
        }
        a{
            color: #fff;
        }
    }
    @media only screen and (min-width: 768px){
        &__nav{
            &.is-sticky{
                max-width: 395px;
            }
        }
    }
    @media ( min-width: 992px ) {
        &__nav{
            &.is-sticky{
                max-width: 545px;
            }
        }
    }
}

.home-slider{
    position: relative;
    padding-bottom: 20px;
    .dn__slider{
        margin-bottom: 80px;
      &:not(.flickity-enabled) .slider__item + .slider__item{display:none}
    }
    .slider__item{
      position:relative;width:100%;
      &--thumb{
        width: 85%;
        margin-left: auto;
        border-bottom-left-radius: 20px;
      }
      &--meta{
        position: absolute;
        bottom: 16%;
        left: 0;
        overflow: hidden;
      }
      &--sub{
        font-family: 'P22SweepyPro';
        font-size: 44px;
        line-height: normal;
        color: #fff;
        padding-left: 15px;
        transform: rotate(350deg);
        margin-bottom: 15px;
        span{
            color: #71ABDD;
        }
      }
      &--title{
          font-size: 19px;
          letter-spacing: 4px;
          color: #289BD8;
          span{
            display: block;
            padding: 12px 20px 8px;
            background-color: rgba(255, 255, 255, .9);
            margin-bottom: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
      }
    }
    .dnfix__thumb{
      padding-top:51%;display:block;min-height:220px;
    }
    .flickity-page-dots{
        text-align: right;
        padding-right: 10px;
        .dot {
            width: 30px;
            border-radius: 0;
            height: 2px;
            margin: 0 3px;
            transition: all .5s;
            &.is-selected{
                background-color: $color_primary;
                height: 3px;
            }
        }
    }

    &__text{
        position: relative;
        font-size: 16px;
        margin-bottom: 40px;
        .-text-small{
            font-size: 14px;
            margin-bottom: 30px;
        }
        .-map{
            color: #5FC4E6;
            img{
                position: relative;
                top: 3px;
            }
        }
    }

    .el__item{
        position: relative;
        max-width: 300px;
        margin: 0 auto 30px;
        padding: 20px 20px;
        text-align: center;
        background: url(../img/home-slider-item-bg.png);
        &::before{
            content: "";
            width: 50px;
            height: 1px;
            background-color: #969797;
            position: absolute;
            top: 10px;
            left: -14px;
            transform: rotate(136deg);
        }
        &::after{
            content: "";
            width: 50px;
            height: 1px;
            background-color: #969797;
            position: absolute;
            bottom: 9px;
            right: -15px;
            transform: rotate(136deg);
        }
        &--title{
            font-size: 18px;
            letter-spacing: 2px;
        }
        &--sub{
        }
        &--date{
            font-size: 18px;
            color: #289BD8;
            &.-large{
                font-size: 23px;
            }
        }
    }
    
    @media (min-width:576px){
        .slider__item--meta {
            left: 8%;
        }
    }
 
    .dnfix__thumb{
        padding-top: 150%;
    }
}

.home-news{
    position: relative;
    padding: 5px 0;
    // background-color: #fff;
    .sc__wrap{
        position: relative;
        background-color: #fff;
        padding: 75px 45px;
    }
    .nav-tabs{
        justify-content: center;
        border: 0;
        .-fix-text{
            position: relative;
            top: -4px;
            margin-bottom: -4px;
        }
        .nav-link{
            border: 0;
            margin-bottom: 0;
            padding: 0 0.15rem;
            color: #4D4D4D;
            margin: 0 5px;
        }
        .nav-link.active, .nav-item.show .nav-link{
            border-bottom: 2px solid #5FC4E6;
        }
    }
    .tab-content{
        margin-bottom: 50px;
    }
    .tab-pane {
        height: 235px;
        margin-top: 30px;
        padding-right: 10px;
        overflow: auto;
        &::-webkit-scrollbar-track{
            background-color: #E4E4E4;
        }
        &::-webkit-scrollbar{
            width: 10px;
            background-color: #E4E4E4;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #D3D3D3;
        }
    }
    .el__item{
        margin-bottom: 30px;
        &--date{
            font-size: 16px;
            font-weight: 700;
            color: #5FC4E6;
        }
    }
}
.home-concept{
    position: relative;
    padding: 0px 0;
    // background: url(../images/home-concept-img-1.png) no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    min-height: 400vh;
    padding-bottom: 100vh;
    padding-top: 100vh;
    max-width: var(--wrapper-mb-width);
    
    .sc__wrap{
        position: relative;
        z-index: -1;
    }
    .el{
        &--thumb{
            position: relative;
        }
        &--title{
            font-weight: 400;
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 3px;
            color: #fff;
        }
        &--sub{
            position: fixed;
            top: 220px;
            right: 0;
            width: 100%;
            max-width: var(--wrapper-mb-width);
            font-family: 'P22SweepyPro';
            font-size: 34px;
            color: #fff;
            transform: rotate(350deg);
            text-align: center;
        }
        &--scroll{
            position: fixed;
            bottom: 10%;
            left: 0;
            right: 0;
            font-size: 10px;
            color: #fff;
            transform: rotate(90deg);
            &:after{
                content: "";
                display: inline-block;
                width: 80px;
                height: 1px;
                background-color: #fff;
                position: relative;
                top: -3px;
                margin-left: 5px;
            }
        }
    }

    .home-concept__ttl, .home-concept__txt {
        opacity: 0;
        -webkit-transition: all 1s;
        transition: all 1s;
        visibility: visible !important;
        width: 100vw;
        height: 100vh;
        .el__content {
            position: fixed;
            top: 0;
            right: 0;
            width: var(--wrapper-mb-width);
            height: 100vh;
            padding: 400px 15px 0;
            text-align: center;
        }
    }
    .home-concept--bg {
        position: fixed;
        top: 0;
        right: 0;
        width: var(--wrapper-mb-width);
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        border-left: 2px solid #5FC4E6;
        border-right: 2px solid #BEE274;
        opacity: 0;
        pointer-events: none;
    }
    &.is-active{
       
        .home-concept__ttl.is-on, .home-concept__txt.is-on {
            position: fixed;
            opacity: 1;
        }
    }

    @media (max-width:575px){
        .el--sub {
            top: 180px;
        }
        .home-concept__ttl .el__content, .home-concept__txt .el__content {
            position: fixed;
            top: 0;
            right: 0;
            width: var(--wrapper-mb-width);
            height: 100vh;
            padding: 320px 15px 0;
            text-align: center;
        }
        .el--title {
            font-size: 18px;
            line-height: 38px;
            letter-spacing: 2px;
        }
    }
}

.home-greeting{
    position: relative;
    padding: 90px 0 70px;
    background-color: #fff;
    .el__item{
        &--meta{
            width: auto;
            min-width: 48px;
        }
        &--title{
           position: relative;
           font-size: 18px;
            writing-mode: vertical-rl;
            letter-spacing: 3px;
            padding-bottom: 40px;
            margin: 10px auto 20px;
            color: #5FC4E6;
            &::after{
                content: "";
                background: url(../img/hr-1.png) no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 69px;
                height: 13px;
                display: block;
                margin: auto;
            }
       }
       &--sub{
        font-weight: 700;
        font-size: 18px;
        writing-mode: vertical-rl;
        margin: auto;
       }
       &--excerpt{
           font-size: 16px;
           margin-top: 50px;
           padding: 0 35px;
           margin-bottom: 40px;
       }
    }
    .dnfix__thumb{
        padding-top: 150%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.home-feature{
    position: relative;
    padding: 90px 35px 130px;
    background-color: #fff;
    .sc__header{
        margin-bottom: 110px;
    }
    .el__item{
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        padding-bottom: 45px;
        &::before{
            content: "";
            position: absolute;
            bottom: 10px;
            right: 0;
            width: 1px;
            height: 65px;
            background-color: #808080;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 5px;
            width: 110px;
            height: 1px;
            background-color: #808080;
        }
        &:not(:last-child){
            margin-bottom: 130px;
        }
        &--thumb{
            position: relative;
            margin-bottom: 60px;
            .dnfix__thumb{
                padding-top: 105%;
            }
        }
        &--date{
            position: absolute;
            top: -30px;
            left: -15px;
            width: 125px;
            height: 125px;
            color: #5FC4E6;
            z-index: 1;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-top: 125px solid #fff;
                border-right: 125px solid transparent;
            }
            .-wrap{
                position: relative;
                padding-left: 20px;
                padding-top: 15px;
                width: 100%;
                height: 100%;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 120%;
                    height: 1px;
                    background-color: #808080;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    width: 1px;
                    height: 60%;
                    background-color: #808080;
                }
            }
            .-line{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 145%;
                height: 1px;
                background-color: #808080;
                transform-origin: 79% 55px;
                transform: rotate(
            -45deg);
                box-shadow: 1px 0px 0px 5px #fff;
            }
            .-cat{
                font-size: 8px;
                letter-spacing: 1px;
            }
            .-number{
                font-size: 32px;
            }
        }
        &--title{
            font-weight: 400;
            position: absolute;
            top: 50px;
            left: 25px;
            z-index: 1;
            font-size: 21px;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            color: #5FC4E6;
            text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;

        }
        &--excerpt{
            margin-bottom: 40px;
        }
    }
   
}

.home-services{
    position: relative;
    padding: 120px 0 100px;

    .el__item{
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        font-size: 16px;
        
        
        &--thumb{
            display: flex;
            align-items: center;
        justify-content: center;
            min-height: 55px;
            margin-bottom: 5px;
        }
        &--title{
            color: #666666;
            font-weight: 400;
        }
    }
    .el__col{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2n+1){
            &:after{
                content: "";
                position: absolute;
                top: 20px;
                right: 0;
                width: 1px;
                height: 40px;
                background-color: #B1B1B1;
            }
        }
    }
    .sc__boxinfo{
        margin-top: 70px;
    }
}
.home-facilities{
    padding: 110px 0 100px;
    .el__excerpt{margin: 0 45px 15px}
    .el__slider{
        margin-bottom: 60px;
        &:not(.flickity-enabled) .slider__item + .slider__item{display:none}
    }
    .slider__item{
      position:relative;width:100%;
      &--thumb{
        width: 93%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &--meta{
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, .55);
        width: 100%;
        padding: 24px 20px;
      }
      &--title{
          font-size: 18px;
          line-height: normal;
          letter-spacing: 2px;
          color: #333333;
          p{
            padding: 12px 20px 8px;
            background-color: rgba(255, 255, 255, .9);
            margin-bottom: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
      }
    }
    .dnfix__thumb{
      padding-top:130%;display:block;min-height:220px;
    }
    .flickity-page-dots{
        width: auto;
        text-align: left;
        padding-left: 15px;
        .dot {
            width: 30px;
            border-radius: 0;
            height: 2px;
            margin: 0 3px;
            transition: all .5s;
            &.is-selected{
                background-color: $color_primary;
                height: 3px;
            }
        }
    }
    .flickity-prev-next-button {
        top: auto;
        bottom: -30px;
        outline: 0;
        svg{
            display: none;
        }
        &.next{
            width: 40px;
            height: 10px;
            background: url(../img/long-arrow-right.png) no-repeat;
            background-size: contain;
            right: 7%;
        }
        &.previous{
            width: 40px;
            height: 10px;
            background: url(../img/long-arrow-left.png) no-repeat;
            background-size: contain;
            left: auto;
            right: calc(7% + 50px);
        }
    }
}

.home-clgt{
    padding: 100px 0;
    &__text{
        font-size: 16px;
        margin-bottom: 30px;
        .-text-small{
            font-size: 14px;
            margin-bottom: 30px;
        }
        .-map{
            color: #5FC4E6;
            img{
                position: relative;
                top: 3px;
            }
        }
    }
}

.home-outline{
    padding: 100px 45px;
    .el__box{
        margin-bottom: 25px;
        color: #666666;
        &--title{
            position: relative;
            color: #5FC4E6;
            margin-bottom: 5px;
            &::before{
                content: "";
                display: block;
                width: 20px;
                height: 1px;
                background-color: #5FC4E6;
                margin-bottom: 8px;
            }
        }
        .-font-small{
            font-weight: 400;
            font-size: 14px;
        }
        p{
            margin-bottom: 25px;
        }
    }
}

.home-banner{
    padding: 100px 0 45px;
    .el__item{
        margin-bottom: 15px;
        text-align: center;
    }
    .el__socical{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li{
            margin: 0 10px;
        }
        a{
            font-size: 43px;
            color: #979797;
        }
    }
}

.sc-footer{
    position: relative;
    padding: 35px 0 20px;
    font-size: 11px;
    color: #979797;
}
.scrollTop,.scrollTop2{
    position: absolute;
    bottom: 30px;
    right: 15px;
    cursor: pointer;
}
