@font-face {
    font-family: 'HiraKakuPro-W3-AlphaNum';
    src: url('HiraKakuPro-W3-AlphaNum.woff2') format('woff2'),
        url('HiraKakuPro-W3-AlphaNum.woff') format('woff'),
        url('HiraKakuPro-W3-AlphaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

