@font-face {
    font-family: '';
    src: url('NotoSansJP-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansJP-Medium-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSansJP-Bold-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

