
/*Menu custom*/
.modal-open{overflow:hidden;}

.nav__mobile{
    display:block;
    position:fixed;
    top:0;
    height:100%;
    left:-390px;
    width:390px;
    opacity:0;
    -webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;
    z-index:999;
    font-size: 18px;
    font-weight: 400;
    pointer-events: none;
    overflow: auto;
    background-color: #fff;
    
    .el__wrap{
        border-top: 5px solid #5FC4E6;
        border-left: 5px solid #5FC4E6;
        border-right: 5px solid #BEE274;
        border-bottom: 5px solid #BEE274;
    }
    &--close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        width: 40px;
        height: 40px;
        background: #BEE274;
        font-size: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px;
        cursor: pointer;
        .icon-bar{width:22px;
            transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;
            background-color:#fff;display:block;height:2px;border-radius:1px;
            &+.icon-bar{margin-top:5px;}

            &:nth-of-type(1){
                transform:rotate(0);
            }
            &:nth-of-type(3){
                transform:rotate(0);
            }
            
        }
        &.active{
            .icon-bar{
                &+.icon-bar{margin-top:0;}
                &:nth-of-type(1){
                    transform:rotate(45deg);transform-origin: 50% 0;
                }
                &:nth-of-type(2){opacity:0;}
                &:nth-of-type(3){transform:rotate(-45deg);transform-origin: 25% 0%;}
            }
        }
        
    }
    &__content{
        padding: 60px 25px  15px;
        background-color: #E1F3FC;
    }
    &.active{
        left:0;
        opacity:1;
        pointer-events: auto;
    }
    ul{
        border-top: 1px solid #fff;
    }
    li{
        position:relative;
        border-bottom: 1px solid #fff;
        a{
            font-family: 'HiraKakuPro-W6';
            font-weight: 700;
            font-size: 16px;
            color: #4D4D4D;
            padding:18px 30px;
            display: block;
            letter-spacing: 2px;
            &:hover{
                color:$color_primary;
            }
        }
        &.active, &:hover{
            &>a{
                &:after {
                    content: "";
                    position: absolute;
                    width: calc(100% - 10px);
                    height: 1px;
                    background: $color_primary;
                    display: block;
                }
            }
        }
    }
    .home-slider__text{
        margin-bottom: 0;
        padding-bottom: 40px;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: -5px;
            width: calc(50% + 5px);
            height: 50px;
            border-bottom: 5px solid #5fc4e6;
            border-left: 5px solid #5fc4e6;
            border-bottom-left-radius: 25px;
            pointer-events: none;
        }
    }
    .sc__boxinfo{
        padding: 35px 0;
        border-radius: 9px;
        background: #71ABDD;
        margin-bottom: 60px;
        &::before{
            display: none;
        }
        &--title {
            font-size: 14px;
        }
        &--sub {
            font-size: 15px;
        }
        &--phone{
            font-size: 12px;
            a {
                font-size: 26px;
            }
        }
        .btn--primary2, .btn--secondary2 {
            min-width: 225px;
            font-size: 15px;
            padding: 9px 10px;
        }
    }

    @media ( max-width: 575px ) {
        width: 100%;
    }
}
/**/


/**/
.menu-mb__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    background-color: $color_secondary;
    border-left: 2px solid #fff;
    .icon-bar{width:20px;
        transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;
        background-color:#fff;display:block;height:2px;border-radius:1px;
        &+.icon-bar{margin-top:5px;}

        &:nth-of-type(1){
            -ms-transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0);
        }
        &:nth-of-type(3){
            -ms-transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);transform:rotate(0);
        }
        
    }
    &.active{
        .icon-bar{
            &:nth-of-type(1){
                -ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);
                -ms-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;
            }
            &:nth-of-type(2){opacity:0;}
            &:nth-of-type(3){-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);
                -ms-transform-origin:0% 90%;-webkit-transform-origin:0% 90%;transform-origin:0% 90%;}
        }
    }
}
